.wrapper {
    background: rgb(175, 175, 175);
    background-color: black;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
    font-family: "Comic Sans MS";
}